p:first-child{
    font-weight: bold;
    font-size: 150%;
}

p:first-child::first-line{
    color: red;
}

tbody > tr:nth-child(2n){
    background-color: #333333;
    color: white;
    text-align: center;
}

a:link{
    color: orange;
}

a:visited {
    color: green;
    font-weight: bold;
}

a:hover {
    text-decoration-line: none;
}   
   



