<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <%- include('nav.html') %>

        <button class="btn btn-danger" id="send">오우</button>
        <button class="btn btn-danger" id="room1">채팅방1 입장</button>
        <button class="btn btn-danger" id="room1-send">채팅방1에 메세지 전송</button>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>
            //웹소켓을 이용해 서버와 실시간 소통채널 개설
            var socket = io();

            // 서버에게 데이터 보내기
            $('#send').click(function () {
                socket.emit('user-send', '안녕하쇼')
            });

            socket.on('broadcast', function (data) { // 모든 웹소켓 메세지들은 이벤트 리스너로 수신 가능
                console.log(data);
                $('#content').append('<div>' + data + '</div>')
            })

            // 방입장
            $('#room1').click(function () {
                socket.emit('joinroom', '제발');
            });
            //메세지 보내기
            $('#room1-send').click(function () {
                socket.emit('room1-send', '어쩌구저쩌구')
            });
        </script>
</body>

</html>