<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/public/style.css" rel="stylesheet">
    <title>Document</title>

    <link href="/public/style.css" rel="stylesheet">
</head>

<body>
    <!-- 네비게이션바 -->
    <%- include('nav.ejs') %>

        <div class="m-5">
            <form method="POST" action="/upload" enctype="multipart/form-data" >
                <input type="file" name="profile">
                <button type="submit">전송</button>
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>


        </script>

</body>

</html>