body{
    /* background-color: grey; */
}

li{
    width: 100%;
    height: 25%;
    display: inline-flexbox;
    
}

ul{
    height: 400px;
    /* background-color: yellow; */
}

a[title]{
    border: 5px solid pink;
}

a[href*="contact"]
{
    border: 5px solid orange;
}

a[href^="https"]
{
    border: 5px solid green;
}